.DS_Store
LocalSharing.xcodeproj/project.xcworkspace/xcuserdata/Gigio.xcuserdatad/UserInterfaceState.xcuserstate
LocalSharing.xcodeproj/project.xcworkspace/xcuserdata/diegohaz.xcuserdatad/UserInterfaceState.xcuserstate